:root {
    --biohover: #0e0aff;


}
 html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
/* About Me styling */
/* ------------------------- */
#aboutme-body {
    overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
#aboutmemain {
    display: flex;
flex-direction: column;
justify-content: space-around;
}
#aboutme-text {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 150%;
}
#bioandimage {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
#biosection {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    left: 80px;
    bottom: 50px;
    height: 100px;
}
#biosection * {
    font-size: 120%;
}
#greeting {
    font-size: 150%;
}
#biochars {
    position: relative;
    bottom: 0;
    transition: all .3s;
    cursor: default;
    background-color: transparent;
    
}
#biochars:hover {
position: relative;
bottom: 5px;
color: var(--biohover);

}
#links {
    background-color: black;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
}

.outer-links {
cursor: pointer;

}

#aboutpage-links {
display: flex;
justify-content: space-around;
width: 100%;


}

.pagebutton {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
}
#about-imageset {
    position: relative;
    bottom: 0;
    right: 0;
}
#about-selfportrait {
    
    width: 600px;
    height: 600px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    position: relative;
    bottom: 0;
    right: 0;
}
#about-imagecircle1 {
    display: flex;
    
    width: 180px;
    height: 180px;
    position: absolute;
    z-index: -2;
    right: 210px;
    top: 250px;
    rotate: 0deg;
    animation: circlerotate1 7s linear infinite;
}
#about-imagecircle2 {
    
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: -1;
    right: 240px;
    top: 280px;
    rotate: 0deg;
    animation: circlerotate2 7s linear infinite;
}
#about-clouds {
    position: absolute;
    width: 250px;
    height: 150px;
    top: 300px;
    right: 600px;
    z-index: -3;
}
#resume-open {
    cursor: pointer;

}
#resume-section {
    display: flex;
    justify-content: center;
}
#resume-modal {
    background-color: darkcyan;
    border: 2px solid transparent;
    border-radius: 30px;
    height: 800px;
    width: 700px;
    position: absolute;
    top: 900px;
    z-index: 2;
    transition: top .5s;
}
object {
    height: 700px;
    font-size: 50px;
}
#modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#modal-content * {
    border-bottom: 1px solid black;
    text-align: center;
    width: 400px;
}

#resume-close {
width: 50px;
height: 50px;
color: white;
background-color: transparent;
border: 2px solid white;    
justify-self: left;
cursor: pointer;
}

#modal-film {
    background-color: black;
    opacity: 50%;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

@keyframes circlerotate1 {
    0% {rotate: 360deg;}
}

@keyframes circlerotate2 {
    0% {rotate: -360deg;}
}

@media only screen and (max-width: 900px) {
    #resume-modal {
        scale: 80%;
    }
    #about-imageset {
        right: 100px;
    }
    #biosection {
       scale: 40%;
       text-align: center;
       width: 200px;
    }
}


/* Showcase styling */
/* ----------------------- */
#showcasepage-links {
    background-color: black;
    display: flex;
    position: relative;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
}
#posterCollection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    background-color: green;
}

.poster {
    background-color: grey;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale .5s;
}
.poster:hover {
    scale: 1.2;
}
#graphicdesignCollection {
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1500px;
}

#miscCollection {
    background-color: lightyellow;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Minigame styling */
/* ------------------------ */

#minigamepage-links {
    display: flex;
    justify-content: space-around;
}
#minigamesection {
    display: flex;
    justify-content: center;
    align-items: center;

}
#minigamescreen {
    display: flex;
    border: 5px solid black;
    border-radius: 20px;
    width: 1200px;
    height: 700px;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

#minigameinstructions {
    height: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid black;
    padding: 20px;
}

#minigameinstructions * {
    color: darkslategray;
     border-bottom: 1px solid darkslategrey;
     text-align: center;
     width: 300px;
     margin: 10px;
}



#griddiv {
    background-color: yellow;
}
#sprites {
   
    height: 600px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
#deliveries {
    align-self: flex-start;
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    position: relative;
    top: 0;
    z-index: 1;
    transition: top .5s ease;
}
.delivery {
    
    height: 105px;
    width: 105px;
    
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#customers {
display: none;
justify-content: space-around;
align-items: center;

width: 100%;
height: 25%;
align-self:flex-end;
position: relative;
bottom: 0;
} 
.customer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    
    
}
#thoughts {
    display: none;
    justify-content: space-around;
    width: 100%;
    
}
.thought {
    
    width: 140px;
    height: 160px;
    position: relative;
    bottom: 50px;
}
#minigamebutton {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-shadow: 5px 3px;
    cursor: pointer;
    position: relative;
    right: 0;
    top: 0;
}
#titlescreen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#instructiontext {
    
    height: 400px;
}



@media screen and (max-width: 1000px){
    #minigamebody {
        scale: 50%;
    }
}






